<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 태민 (로그인관련) -->
	<entry key="loginMember">
		SELECT		
		      MEM_NO
			, MEM_ID
			, MEM_PWD
			, MEM_NAME
			, MEM_PHONE
			, MEM_EMAIL
			, MEM_ENROLLDATE
			, MEM_MODIFYDATE
			, MEM_STATUS
			, MEM_NICKNAME
			, MEM_GRADE
			, ADDRESS_CODE
			, ADDRESS
			, ADDRESS_DETAIL
			, ADDRESS_REF
			, MEM_IMGPATH
			, WITHDRAW
		FROM MEMBER
		WHERE (MEM_STATUS = 'Y' 
		   OR MEM_STATUS = 'A')
		  AND MEM_ID = ?
		  AND MEM_PWD = ?
	</entry>
	
	

	<!-- 태민 (아이디 찾기) -->
	<entry key="findId">
	SELECT
		  RPAD(SUBSTR(MEM_ID,1,3), LENGTH(MEM_ID), '*') AS"MEM_ID"
	  FROM
	  	  MEMBER
     WHERE MEM_NAME = ?
	   AND MEM_EMAIL = ?
		
	</entry>
	
	
	<!-- 은영 (회원 정보 수정) -->
	<entry key="updateMember">
	<!-- 회원정보 수정 요청시 실행할 sql문 -->
		UPDATE MEMBER
	    SET MEM_PWD = ? 
	      , MEM_NAME = ?
	      , MEM_PHONE = ?
	      , MEM_EMAIL = ?
	      , MEM_NICKNAME = ?
	      , ADDRESS_CODE = ?
	      , ADDRESS = ?
	      , ADDRESS_DETAIL = ?
	      , ADDRESS_REF = ?
		WHERE MEM_ID = ?
	</entry>
	
	<!-- 은영 (수정된 회원 정보 조회) -->
	<entry key="selectUpdateMember">
	<!-- 수정된 회원정보 조회시 실행할 sql문 -->
		SELECT
			MEM_ID
		  , MEM_PWD
		  , MEM_NAME
		  , MEM_PHONE
		  , MEM_EMAIL
		  , MEM_NICKNAME
		  , ADDRESS_CODE
		  , ADDRESS
		  , ADDRESS_DETAIL
		  , ADDRESS_REF
		FROM MEMBER
		WHERE MEM_ID = ?
	</entry>

	
	

	<!-- 채윤 : 신고글 -->
	<entry key="selectReportList">
		SELECT 
		       REPORT_NO
		     , REM.MEM_NICKNAME
		     , SRM.MEM_ID
		     , SR.REVIEW_TITLE
		     , REPORT_CONTENT
             , REPORT_DATE
		  FROM REPORT RE
		  JOIN MEMBER REM ON (RE.MEM_NO = REM.MEM_NO)
          JOIN STORE_RE SR ON (RE.RE_NO = SR.RE_NO)
          JOIN MEMBER SRM ON (SR.REVIEW_WRITER = SRM.MEM_NO)
		 ORDER 
		    BY REPORT_NO DESC
	</entry>

</properties>
