<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 혜림 -->
	<entry key="selectNoticeListCount">
		SELECT
		       COUNT(*) AS COUNT
		  FROM NOTICE
	</entry>
	
	<entry key="selectNoticeList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , NOTICE_CONTENT
		                     , NOTICE_WRITER
		                     , ENROLL_DATE
		                     , NOTICE_COUNT
		                     , NOTICE_ATTACH
		                  FROM NOTICE
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertContact">
		INSERT
		  INTO CONTACT
		  (
		    CONTACT_NO
		  , CONTACT_TYPE
		  , CONTACT_TITLE
		  , CONTACT_CONTENT
		  , CONTACT_WRITER
		  , CONTACT_EMAIL
		  , CONTACT_PHONE
		  , CONTACT_ATTACH
		  )
		  VALUES
		  (
		    SEQ_CNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectContactList">
		SELECT
		       CONTACT_NO
		     , CONTACT_TYPE
		     , CONTACT_TITLE
		     , CONTACT_CONTENT
		     , CONTACT_WRITER
		     , ENROLL_DATE
		     , CONTACT_STATUS
		     , CONTACT_ATTACH
		     , ANSWER
		     , ANSWER_DATE
		  FROM CONTACT
		 WHERE CONTACT_WRITER = ?
	</entry>
	
	
	
	
	<!-- 서원 -->
	<!-- 관리자 이용약관 페이지 -->
	<!-- 이용약관 조회 -->
	<entry key="selectAdminTosList">
		SELECT 
	     	   TOS_NO
	    	 , TOS_TITLE
	    	 , ENROLL_DATE
	    	 , MODIFY_DATE
	    	 , TOS_NOTE
	 	 FROM TOS
	 	WHERE TOS_STATUS = 'Y'
	 	ORDER 
	   	   BY TOS_NO DESC
	</entry> 
	
	<!-- 이용약관 등록 -->
	<entry key="insertTos">
		INSERT 
		  INTO TOS
		     (
		       TOS_NO
		     , ENROLL_DATE
		     , MODIFY_DATE
		     , TOS_TITLE
		     , TOS_NOTE
		     , TOS_CONTENT
		     , TOS_STATUS
		     )
		VALUES
		     (
		       SEQ_TOSNO.NEXTVAL
		     , SYSDATE
		     , SYSDATE
		     , ?
		     , ?
		     , ?
		     , 'Y'
		     )
	</entry> 
	
	<!-- 이용약관 상세 조회 -->
	<entry key="selectTos">
		SELECT
		       TOS_NO
		     , TOS_TITLE
		     , TOS_NOTE
		     , TOS_CONTENT
		  FROM TOS
		 WHERE TOS_NO = ?	
	</entry>
	
	<!-- 이용약관 수정 -->
	<entry key="updateTos">
		UPDATE TOS
		   SET TOS_TITLE = ?
		     , TOS_NOTE = ?
		     , TOS_CONTENT = ?
		 WHERE TOS_NO = ?
	</entry>
	
	<!-- 이용약관 삭제 -->
	<entry key="deleteTos">
		UPDATE TOS
		   SET TOS_STATUS = 'N'
		 WHERE TOS_NO = ?
	</entry>
	
	

</properties>