<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 혜림 -->
	
	
	
	
	
	<!-- 서원 -->
	<!-- 관리자 이용약관 -->
	<entry key="selectAdminTosList">
		SELECT 
	     	   TOS_NO
	    	 , TOS_TITLE
	    	 , ENROLL_DATE
	    	 , MODIFY_DATE
	    	 , TOS_NOTE
	 	 FROM TOS
	 	WHERE TOS_STATUS = 'Y'
	 	ORDER 
	   	   BY TOS_NO DESC
	</entry>  

</properties>