<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 채윤 : 식당리뷰목록조회 -->
	<entry key="selectStoreReviewList">
	SELECT
	        RE_NO
	       ,M.MEM_NICKNAME
	       ,M.MEM_ID
	       ,REVIEW_TITLE
	       ,REVIEW_RATE
	       ,REVIEW_ENROLLDATE
	       ,M.MEM_GRADE
	       ,COUNT
	FROM STORE_RE SR
	JOIN MEMBER M ON (SR.REVIEW_WRITER = M.MEM_NO)
	ORDER
    BY RE_NO DESC
	</entry>
	
	<!-- 채윤 : 식당 리뷰 검색 -->
	<entry key="userStoreReview">
		SELECT
	        RE_NO
	       ,M.MEM_NICKNAME
	       ,M.MEM_ID
	       ,REVIEW_TITLE
	       ,REVIEW_RATE
	       ,REVIEW_ENROLLDATE
	       ,M.MEM_GRADE
	       ,COUNT
		FROM STORE_RE SR
		JOIN MEMBER M ON (SR.REVIEW_WRITER = M.MEM_NO)
	</entry>
	
	<!-- 채윤 : 식당 상세조회 -->
	<entry key="selectStore">
		SELECT 
		       S.STORE_NO
		     , STORE_NAME
		     , STORE_ADDRESS
		     , STORE_INTRO
		     , STORE_IMG_PATH
		     , STORE_POPULARITY
		     , STORE_POP_INFO
		     , STORE_POP_PATH
		     , M.MEM_NICKNAME
		     , REVIEW_CONTENT
		     , REVIEW_IMG
		  FROM STORE S
		  JOIN STORE_RE SR ON (SR.STORE_NO = S.STORE_NO)
		  JOIN MEMBER M ON(SR.REVIEW_WRITER = M.MEM_NO)
		 WHERE S.STORE_NO = ?
	</entry>
	
	<!-- 채윤 식당 조회수 -->
	<entry key="increaseCount">
		UPDATE STORE
		   SET COUNT = COUNT+1
		 WHERE STORE_NO = ?
	</entry>
	<!-- 채윤 에디터 조회수 -->
	<entry key="increaseCountE">
		UPDATE EDITOR
		   SET COUNT = COUNT+1
		 WHERE EDITOR_NO = ?
	</entry>
	<!-- 채윤 식당리뷰 조회수 -->
	<entry key="increaseCountR">
		UPDATE STORE_RE
		   SET COUNT = COUNT+1
		 WHERE RE_NO = ?
	</entry>
	
	<!-- 채윤 식당 메인2 -->
	<entry key="selectStoreList">
		SELECT 
		       S.STORE_NO
		     , STORE_IMG_PATH
		     , STORE_NAME
		     , STORE_ADDRESS
		     , STORE_INTRO
		     , STORE_POPULARITY
		     , STORE_POP_INFO
		     , SR.REVIEW_CONTENT
		     , SR.REVIEW_IMG
		     , SR.REVIEW_WRITER
		  FROM STORE S
		  JOIN STORE_RE SR ON (SR.STORE_NO = S.STORE_NO)
		 ORDER
		 	BY STORE_NO DESC
	</entry>
	
	<!-- 채윤 : 메인2 식당 검색 -->
	<entry key="userStoreSearch">
		SELECT
	         S.STORE_NO
		     , STORE_IMG_PATH
		     , STORE_NAME
		     , STORE_ADDRESS
		     , STORE_INTRO
		     , STORE_POPULARITY
		     , STORE_POP_INFO
		     , SR.REVIEW_CONTENT
		     , SR.REVIEW_IMG
		     , SR.REVIEW_WRITER
		  FROM STORE S
		  JOIN STORE_RE SR ON (SR.STORE_NO = S.STORE_NO)
	</entry>
	
	<!-- 은영 -->
	<entry key="selectNewStoreReview">
	        		SELECT ROWNUM, A.*
			FROM (
			        SELECT REVIEW_TITLE
			             , STORE_NAME
			             , REVIEW_ENROLLDATE
			        FROM STORE_RE
			        JOIN MEMBER ON (MEM_NO = REVIEW_WRITER)
			        JOIN STORE USING (STORE_NO) 
			        WHERE MEM_ID = ? <!-- 로그인한 회원 아이디 -->
			        ORDER BY REVIEW_ENROLLDATE DESC
			    )A
		WHERE ROWNUM BETWEEN 1 AND 2
	</entry>
	
	<!-- 서원 관리자 식당 조회 -->
	<entry key="selectAdminStorelist">
		SELECT 
			   STORE_NO
			 , STORE_NAME
			 , STORE_ADDRESS 
			 , STORE_PHONE
		  FROM STORE
		 ORDER 
            BY STORE_NO DESC
	</entry>
	
	<!-- 채윤 썸머노트 -->
	<entry key="insertEditor">
	INSERT
		  INTO EDITOR
		  (
		    EDITOR_NO
		  , EDITOR_CONTENT
		  )
		  VALUES
		  (
		    SEQ_ENO.NEXTVAL
		  , ?
		  )
	</entry>
	
	<!-- 채윤 에디터글 조회 -->
	<entry key="editorWritelist">
		SELECT 
			   EDITOR_NO
			 , EDITOR_ATTACH
		  FROM EDITOR
	</entry>
	
	
	<!-- 채윤 : 에디터글 상세조회 -->
	<entry key="selectDetailEdior">
		SELECT 
		       EDITOR_NO
			 , EDITOR_ATTACH
			 , ENROLL_DATE
			 , EDITOR_CONTENT
	 	 FROM EDITOR
		 WHERE EDITOR_NO = ?
	</entry>
	
	<!-- 채윤 식당리뷰 등록 -->
	<entry key="insertStoreReview">
	INSERT
		  INTO STORE_RE
		  (
		    RE_NO
		  , STORE_NO
		  , REVIEW_WRITER
		  , REVIEW_TITLE
		  , REVIEW_CONTENT
		  , REVIEW_RATE
		  , REVIEW_ENROLLDATE
		  )
		  VALUES
		  (
		    SEQ_RNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  )
	</entry>
	
	
	<!-- 채윤 식당 세션 -->
	
	<entry key="storeSession">
		SELECT
			   STORE_NO
			 , LOCAL_SI
			 , LOCAL_GU
			 , LOCAL_RO
			 , STORE_NAME
			 , STORE_TAG
			 , STORE_ADDRESS
			 , STORE_PHONE
			 , STORE_INTRO
			 , STORE_IMG_PATH
			 , STORE_POPULARITY
			 , STORE_POP_INFO
			 , STORE_POP_PATH
			 , STORE_OPERATING
			 , STORE_BREAKTIME
			 , NAVER_ADDRESS
			 , DAY_OFF
			 , STORE_URL
			 , STORE_ENROLLDATE
			 , COUNT
		  FROM STORE
		 WHERE STORE_NAME=?
		   AND STORE_NO=?
	</entry>
	
	
	<!-- 채윤 : 식당리뷰 상세조회 -->
	<entry key="storeReviewDetail">
		SELECT 
			   RE_NO
		     , REVIEW_TITLE
			 , MEM_NICKNAME
			 , REVIEW_IMG_PATH
			 , REVIEW_CONTENT
			 , REVIEW_ENROLLDATE
			 , COUNT
	 	 FROM STORE_RE
	 	 JOIN MEMBER ON(REVIEW_WRITER = MEM_NO)
		WHERE RE_NO = ?
	</entry>
</properties>
