@import url(https://fonts.googleapis.com/css?family=Oswald);

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@import url(https://fonts.googleapis.com/css?family=Pacifico);

#head-delicious{
	background:white;
}

body {
  color: #fff;
}

#container {
  margin: 50px;
  max-width: 520px;
  text-align: center;
}

#container h1 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0.3125em 0;
  background-color: #111111;
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.style-1 {
  font-family: "Pacifico", sans-serif;
  text-transform: none!important;
}

.style-2 {
  font-family: "Pacifico", sans-serif;
  text-transform: none!important;
}

.style-3 {
  font-family: "Pacifico", sans-serif;
  text-transform: none!important;
}

.style-1:before {
  content: "";
  height: 3px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  width: 300%;
  top: 50%;
  left: -100%;
  z-index: -999;
}

.style-2:before {
  content: "";
  height: 3px;
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  position: absolute;
  width: 300%;
  top: 45%;
  left: -100%;
  z-index: -999;
}

.style-3:before {
  content: "";
  border-top: 1px solid black;
  position: absolute;
  width: 300%;
  top: 35%;
  left: -100%;
  z-index: -999;
}

.style-3:after {
  content: "";
  border-bottom: 1px solid black;
  position: absolute;
  width: 300%;
  bottom: 35%;
  left: -100%;
  z-index: -999;
}
