@charset "UTF-8";

  /* ================== 주문/배송조회 박스 시작 ==================== */
  .orderDetail-area{
    background-color: white; 
    width:80%;
    margin:auto;
    border:1px solid rgba(221, 219, 219, 0.87);
  }
  
  .shippingStatusContainer{
    padding: 15px 15px;
    background-color: rgb(168, 99, 221);
    margin-bottom: 25px;
    height: 180px;
  }
  
  /* 주문/배송조회 타이틀 */
  .shippingStatusContainer .title{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  /* 장바구니 결제완료 배송중 구매확정 [로우] */
  .shippingStatusContainer .status{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 21px;
  }
  /* 장바구니 결제완료 배송중 구매확정 [아이템]  */
  .shippingStatusContainer .item{
    display: flex;
  }
  
  .shippingStatusContainer .number{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    display:block;
    color:white;
    text-decoration: none;
    cursor: pointer;
  }

  .shippingStatusContainer .text{
    font-size: 13.5px;
    font-weight: normal;
    color: #c2c2c2;
    text-align: center;
  }

  /* ================== 주문 전체 리스트 ==================== */
.orderDetailArea{
    width:100%;
    height:100%;
    background-color: white;
    margin-top:10px;
}

.orderDetailArea{
    /* display: flex; */
    /* justify-content: space-around; */
    /* margin-bottom: 40px; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.orderMonth{
    width: 100%;
    height:39px;
    background:url(../image/key/monthLine.gif) repeat-x;
    text-align:center;
}

.orderMonth h4{
    width:110px;
    height:39px;
    margin:0 auto;
    background: url(../image/key/monthCircle.gif) no-repeat;
    line-height: 39px;
    font-size:18px;
    font-weight: normal
}

/* 주문 상품 */
.goodsGroup{ margin:0px 30px; } 

.goodsItem{
	width:800px;
}

.goodsPayItem{
    display: table;
    table-layout:fixed;
}

.goodsPayItem .goodsItem{
    position:relative;

}

.goodsPayItem>div{
    display:
    table-cell;
    vertical-align: middle;
    /* margin: 0px 60px; */
}

.goodsThumb{
    position:absolute;
    display:block;
    top:50%;
    margin-top:-45px;
    width:110px;
    height:110px;
}

.goodsInfo{
    padding-left:135px;
    /* display:
    block; */
    text-decoration:
    none;
    width: 550px;
}

.goodsPayItem .goodsItem .goodsInfo .info{
    margin:5px 0px 12px;
}

.goodsName{
    font-size:17px;
    color:black;
    width:100%;
    margin: 7px 0px;
    overflow:hidden; /* 일정 글자수 초과하면 가려지기 */
    white-space:nowrap; /* 텍스트는 무조건 한 줄로 정렬 */
    text-overflow:ellipsis; /* 글자수 초과하면 밀줄임표로 가리기*/
}

.goodsPrice{ color:black; }

.goodsStatus, .goodsAmount, .goodsDate{color:gray;}

.info>li{
    display:inline-block;
    padding-right:10px;
    list-style: none;
    font-size:14px;
}
.info{ padding:0px; }
.inner{ padding:0px 30px; }
.sellerInfo{ width:250px; }
.orderButton{ width:200px; }

.seller, .tel, .orderNo, .orderTitle{
  display:block;
  text-align:center;
  font-size:13px;
  padding:0px 20px;
  margin-bottom:5px;
}

.orderButton>a, #updateBasket{
  display: block;
  width: 90px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 12px;
  height: 35px;
  line-height: 13px;
}

.orderButton>a:hover, #updateBasket:hover{
  color:white;
  background:rgb(167, 112, 239);
}

 /* ================== 장바구니 주문 수정 ==================== */
#updateModel{
	height: 100%;
    max-height: 700px;
}

.updateCart{
	background-color: black;
    color:white;
    text-align: left;
}


 .updateContent{
 	padding:12px 0px;
 	margin:0 20px;
 	border-bottom: 1px solid #e9ecef;
 	flex-direction: column;
 	display:flex;
    text-align:left;
    padding:15px;
    line-height:30px;
    border:1px solid rgba(221, 219, 219, 0.87);
 }
 
.num, .sum{
   width: 41%;
   height:20%;
   min-width: 105px;
   margin: 0 20px;
   /*flex-direction: column; */
   display: inline-block;
   padding: 15px;
   
}

.changePrice{
	border-bottom: 1px solid #e9ecef;
}

.sum{
	text-align:right;
	font-size: 17px;	
}
    
.p_num {
    text-align: right;
    width: 40px;
    font-size: 15px;
}

.finalPrice, .finalDelivery{
 	margin:0 35px;
}

.finalPrice{
	font-weight:bold;
}

.finalDelivery{
	margin-bottom:15px;
}

.final_t{
	display:inline-block;
	width:20%;
	font-size: 17px;
}
.final_p {
	display:inline-block;
	width:77%;
	text-align:right;
	font-size: 17px;
}


#updateModal .btn{
    font-size:15px;
    width:100px;
    height: 35px;
    line-height: 10px;
}

#updateModal .btn:hover{
    font-size:15px;
    width:100px;
    height: 35px;
    line-height: 10px;
    background-color: rgb(167, 112, 239);
    color:white;
}

.checkGoods{
	/* margin: 100px 100px; */
	padding: 0px 40px;
}

 /* ================== 더보기 ==================== */
 
.orderMonth, .paySection {
	display:none;
}

.viewMore{
  display: block;
    width: 100%;
    padding: 18px 0;
    color: #000;
    font-size: 13px;
    border: none 0;
    text-align: center;
}

 /* ================== 장바구니 선택 ==================== */
.chooseAll {
	margin:20px 25px 0px 25px;
}

.choose{
    font-size: 14px;
    font-weight:bold;
    background: white;
    width: 120px;
    height: 40px;
}

.chooseBuy{
    font-size: 14px;
    font-weight:bold;
    background: white;
    width: 200px;
    height: 40px;
}

#delete{
	float:right;
}




