.menu--dustu .menu__item {
	font-family: 'Sriracha', cursive;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 2em 0;
	padding-left: 10px;
	
}

.menu--dustu .menu__item-name {
	font-size: 1.65em;
	font-weight: bold;
	overflow: hidden;
	padding: 0 0.25em;
	color: black;
}

.menu--dustu .menu__item-name::before,
.menu--dustu .menu__item-name::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(168, 99, 221);
	transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
	transition: transform 0.7s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu--dustu .menu__item:hover .menu__item-name::before {
	transform: translate3d(100%,0,0) translate3d(1px,0,0);
}

.menu--dustu .menu__item:hover .menu__item-name::after {
	transform: translate3d(0,0,0);
}

.menu--dustu .menu__item-name::after {
	top: calc(50% - 2px);
	height: 4px;
}

.menu--dustu .menu__item-label {
	font-size: 0.9em;
	margin: 0.5em 0 0 0;
	margin-top: 0.25em;
	padding: 0.5em;
	color: #565656;
	transition: color 0.7s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu--dustu .menu__item:hover .menu__item-label {
	color: #fff;
}

.menu-footer_up{
	border:1px solid rgb(231, 216, 241);
	width:270px;
	height:100px;
	justify-content: center;
	align-items: center;
	font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
	padding: 0em 2em;
	font-size:12px;
	background-color: white;
}
.menu-footer_up>h2{
    margin-block-end: 0em;
	background-color: white;
}
.menu-footer_down{
	border:1px solid rgb(231, 216, 241);
	width:270px;
	height:79%;
	justify-content: center;
	align-items: center;
	padding: 0em 2em;
	font-size:11.5px;
	background-color: white;
}

.plain-btn{
	list-style: none;
    border: 1px solid rgb(231, 216, 241) !important;
    padding: 10px !important;
    font-weight: bold;
    line-height: 12px;
    font-size: inherit;
    text-align: center;
	display:inline-block;
}
